*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}
body{
    background-color: rgb(255, 255, 255);
}
textarea:focus, input:focus {outline: none !important;}
a {color: black; font-family: arial; text-decoration: none;}
a:hover {color: black; font-family: arial; text-decoration: none;}
a:visited {color: black; font-family: arial; text-decoration: none;}
.titulo{
    width: 100%;
    display: flex;
    justify-content:space-between;
    font-size: 1.5rem;
    height: 8rem;
}
.titulo img{
  width: 12rem;
  height: 8rem;
}
.titulo .tituloNombre{
  font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    width: 100%;
    font-family: 'Alfa Slab One', cursive; 
    flex-direction: column;
    text-align: center;
}
.titulo .tituloPrincipal{
  display: flex;
  margin-right: 10rem ;
  margin-bottom: 0.5rem;
}
.titulo .tituloNombre h3{
  color: #a97878;
  font-size: 3rem;
}
.cart{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-solid{
  cursor: pointer;
  font-size: 2rem;
  height: 2rem;
  color: rgb(0, 0, 0);
}
.cart p{
    height: 20px;
    width: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.barra{
  background-color: rgb(95, 95, 95);
  width: 100%;
  height: 3rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
nav ul li{
  display: inline-block;
  margin: 3rem;
  text-decoration:none;
}
nav ul li:hover{
  color: black;
  padding: 0.4rem;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.3s;
}
.imagenFondo{
    background-image: url(../imagenes/NANOFLEX-TR-1-1960x925.jpg);
    background-size: cover;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin-bottom: 5rem;
}
.imagenFondo:hover{
    opacity: 1;
    transition: 0.3s;
}
.titulo2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo2 h2{
    font-size: 3.5rem;
    background-color: rgb(255, 255, 255);
    font-family: 'Rowdies', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 80%;
    text-transform: uppercase;
}

.contenido-Principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    height: 30rem;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 15px;
    margin: 15px;
    margin-bottom: 3rem;
  }
  .card:hover{
    box-shadow: 0px 6px 12px 6px rgba(41,40,40,0.75);
-webkit-box-shadow: 0px 6px 12px 6px rgba(41,40,40,0.75);
-moz-box-shadow: 0px 6px 12px 6px rgba(41,40,40,0.75);
transform: scale(1.05);
transition: all 0.4s ease;
}
  .card > img {
    height: 250px;
  }
  
  .price {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 15rem;
    height: 3rem;
    background-color: rgb(2, 150, 29);
    color: rgb(255, 255, 255);
    font-size: 22px;
  }
  
  .card button {
    border-radius: 10px;
    width: 12rem;
    height: 2.4rem;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
  }
  
  .containerCarrito{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .containerCarrito::-webkit-scrollbar {
    display: none;
  }
  .headerCarrito {
    display: flex;
    justify-content: space-around;
    background-color: #a97878;
    color: #ffffff;
    width: 100%;
    padding: 1rem;
    font-family: 'Rowdies', cursive;
  }
  
  .botonX{
    cursor: pointer;
  }
  
  .containerCarrito .contenidoCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
  }
  
  .containerCarrito div img {
    height: 120px;
    width: 120px;
  }
  
  .total-content {
    background-color: #a97878;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    padding-top: 5px;
  }
  .botonEliminar{
    cursor: pointer;
  }
  .botonFinalizar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #a97878;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
  }
  .backgroundLogin{
    background-image: url(/imagenes/pexels-felix-mittermeier-956999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tituloLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tituloLogin h1{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin: 1rem;
  }
  .tituloLogin p{
    color: #a97878;
    font-size: 2.5rem;
  }
  .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .infoLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .formularioInput{
    display: flex;
    width: 20rem;
    height: 2rem;
    border-radius: 7px;
    margin: 1rem;
    background-color: rgb(18, 18, 246);
  } 
footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 250);
}
.redes a img{
    width: 1.5rem;
    margin: 1rem;
}
.redes a img:hover{
    transform:translateY(10px);
    transition: 0.5s;
}
